/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@300&display=swap');

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #f6fff8;
}

h1 {
  color: #a4c3b2;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}
h2 {
  color: #cce3de;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px #82B39E;
}

p {
  color: #6b9080;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #eaf4f4;
  text-align: center;
}

img {
  float: right;
  width: 300px;
  height: 200px;
}
